* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
.landing-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 992px) {
  .landing-holder {
    top: 0;
    left: 0;
  }
}
.landing-holder:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(0deg, #ffffff, transparent);
}
.landing-holder .logo-holder {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
@media all and (min-width: 992px) {
  .landing-holder .logo-holder {
    top: 40px;
    left: 40px;
    transform: translateX(0);
  }
}
.landing-holder .logo-holder a {
  position: relative;
  text-decoration: none;
  text-indent: -9999px;
  display: block;
  width: 266px;
  height: 62px;
}
.landing-holder .logo-holder a span {
  position: absolute;
  background: url("../img/Identity.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.landing-holder .txt-holder {
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  bottom: 10px;
  right: 10px;
  font-weight: 600;
}
@media all and (min-width: 992px) {
  .landing-holder .txt-holder {
    top: 110px;
    left: 40px;
  }
}
.landing-holder .notifications-holder {
  position: relative;
  z-index: 2;
}
@media all and (min-width: 992px) {
  .landing-holder .notifications-holder {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
}
.landing-holder .notifications-holder .notice {
  position: absolute;
  left: 10px;
  top: 100px;
  width: 50px;
  height: 50px;
  border: 2px solid #009B7A;
  border-radius: 50%;
  cursor: pointer;
}
@media all and (min-width: 992px) {
  .landing-holder .notifications-holder .notice {
    display: block;
    position: relative;
    margin: 10px 0;
    top: auto;
    left: auto;
  }
}
.landing-holder .notifications-holder .notice span {
  background: url("../img/icons/bell.png");
  position: absolute;
  width: 16px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-holder .notifications-holder .alert {
  position: absolute;
  right: 10px;
  top: 100px;
  width: 50px;
  height: 50px;
  border: 2px solid #EE3124;
  border-radius: 50%;
  cursor: pointer;
}
@media all and (min-width: 992px) {
  .landing-holder .notifications-holder .alert {
    display: block;
    position: relative;
    margin: 10px 0;
    top: auto;
    right: auto;
  }
}
.landing-holder .notifications-holder .alert span {
  background: url("../img/icons/alert.png");
  position: absolute;
  width: 19px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-holder .bg-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.landing-holder .bg-holder .img-holder {
  background: url("../img/Hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  object-fit: cover;
}
.notice-overlay {
  display: none;
}
.notice-overlay.active {
  display: block;
}
.notice-overlay .popup-back {
  background: #000000CC;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.notice-overlay .popup-back .content {
  width: 700px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notice-overlay .popup-back .content .header {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 46px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}
.notice-overlay .popup-back .content .header span {
  display: block;
}
.notice-overlay .popup-back .content .header span.line1 {
  padding-right: 100px;
  margin-bottom: 15px;
}
.notice-overlay .popup-back .content .header span.line2 {
  padding-left: 100px;
}
.notice-overlay .popup-back .content .message {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.notice-overlay .popup-back .content .message .img-holder {
  width: 300px;
  height: 220px;
}
.notice-overlay .popup-back .content .message .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  border-radius: 20px;
}
.notice-overlay .popup-back .content .message .text-holder {
  width: 370px;
  height: 220px;
  padding-left: 20px;
}
.notice-overlay .popup-back .content .message .text-holder h3 {
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  color: #009B7A;
}
.notice-overlay .popup-back .content .message .text-holder p {
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.notice-overlay .popup-back .content .message .text-holder h5 {
  font-size: 12px;
  line-height: 24px;
  margin-top: 20px;
  color: #009B7A;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.notice-overlay .popup-back .close-btn {
  width: 50px;
  height: 50px;
  border: 2px solid #009B7A;
  border-radius: 50%;
  position: absolute;
  right: 300px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.notice-overlay .popup-back .close-btn:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  margin-left: -10px;
}
.notice-overlay .popup-back .close-btn:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: rotate(135deg);
  margin-left: -10px;
}
.alert-overlay {
  display: none;
}
.alert-overlay.active {
  display: block;
}
.alert-overlay .popup-back {
  background: #000000CC;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.alert-overlay .popup-back .content {
  width: 700px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert-overlay .popup-back .content .header {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 46px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}
.alert-overlay .popup-back .content .header span {
  display: block;
}
.alert-overlay .popup-back .content .header span.line1 {
  padding-right: 100px;
  margin-bottom: 15px;
}
.alert-overlay .popup-back .content .header span.line2 {
  padding-left: 100px;
}
.alert-overlay .popup-back .content .message {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.alert-overlay .popup-back .content .message .img-holder {
  width: 300px;
  height: 220px;
}
.alert-overlay .popup-back .content .message .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  border-radius: 20px;
}
.alert-overlay .popup-back .content .message .text-holder {
  width: 370px;
  height: 220px;
  padding-left: 20px;
}
.alert-overlay .popup-back .content .message .text-holder h3 {
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  color: #EE3124;
}
.alert-overlay .popup-back .content .message .text-holder p {
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.alert-overlay .popup-back .content .message .text-holder h5 {
  font-size: 12px;
  line-height: 24px;
  margin-top: 20px;
  color: #EE3124;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.alert-overlay .popup-back .close-btn {
  width: 50px;
  height: 50px;
  border: 2px solid #EE3124;
  border-radius: 50%;
  position: absolute;
  right: 300px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.alert-overlay .popup-back .close-btn:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  margin-left: -10px;
}
.alert-overlay .popup-back .close-btn:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: rotate(135deg);
  margin-left: -10px;
}
.menu-holder {
  position: fixed;
  top: 30px;
  z-index: 13;
  right: 10px;
}
@media all and (min-width: 992px) {
  .menu-holder {
    right: 30px;
  }
}
.menu-holder .menu-trigger {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#009B7A, #1b1b1b) 0 0 no-repeat;
  cursor: pointer;
}
.menu-holder .menu-trigger:hover {
  background: #009B7A;
}
.menu-holder .menu-trigger span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.menu-holder .menu-trigger span:before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  background: white;
  top: -6px;
}
.menu-holder .menu-trigger span:after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  background: white;
  top: 6px;
}
.fixed-buttons {
  left: 10px;
  position: fixed;
  z-index: 13;
  top: 30px;
}
@media all and (min-width: 992px) {
  .fixed-buttons {
    right: 100px;
    left: auto;
  }
}
.fixed-buttons .top-links .portal-links {
  display: none;
}
.fixed-buttons .top-links .portal-links:hover > ul {
  display: block;
}
@media all and (min-width: 992px) {
  .fixed-buttons .top-links .portal-links {
    display: block;
    float: left;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
}
.fixed-buttons .top-links .portal-links:hover span {
  background: #009B7A;
}
.fixed-buttons .top-links .portal-links:hover span:before {
  background: url("../img/icons/lock.png") no-repeat;
}
.fixed-buttons .top-links .portal-links:hover i:after {
  background-color: white;
}
.fixed-buttons .top-links .portal-links:hover i:before {
  background-color: white;
}
.fixed-buttons .top-links .portal-links span {
  display: block;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  width: 50px;
  height: 50px;
}
.fixed-buttons .top-links .portal-links span:before {
  content: "";
  background: url("../img/icons/fixed-button.png") no-repeat;
  position: absolute;
  width: 13px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-buttons .top-links .portal-links span i {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fixed-buttons .top-links .portal-links span i:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #009B7A;
  transform: rotate(45deg);
  left: 50%;
  bottom: 8px;
  margin-left: -6px;
}
.fixed-buttons .top-links .portal-links span i:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #009B7A;
  left: 50%;
  bottom: 8px;
  transform: rotate(-45deg);
  margin-left: -1px;
}
.fixed-buttons .top-links .portal-links ul {
  display: none;
  right: 0;
  position: absolute;
  left: auto;
}
.fixed-buttons .top-links .portal-links ul li {
  margin: 10px 0;
  text-align: left;
  position: relative;
}
.fixed-buttons .top-links .portal-links ul li a {
  color: #009B7A;
  padding: 15px 44px 15px 20px;
  background: white;
  border-radius: 25px;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2.4px;
  font-weight: 600;
}
.fixed-buttons .top-links .portal-links ul li a.parent:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  right: 15px;
  background: url("../img/icons/parents.png");
}
.fixed-buttons .top-links .portal-links ul li a.students:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 18px;
  right: 15px;
  background: url("../img/icons/student.png");
}
.fixed-buttons .top-links .portal-links ul li a.teachers:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  right: 15px;
  background: url("../img/icons/teacher.png");
}
.fixed-buttons .contact-links:hover > ul {
  display: block;
}
@media all and (min-width: 992px) {
  .fixed-buttons .contact-links {
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
  }
}
.fixed-buttons .contact-links:hover span {
  background: #009B7A;
}
.fixed-buttons .contact-links:hover span:before {
  background: url("../img/icons/Contact.png") no-repeat;
}
.fixed-buttons .contact-links:hover i:after {
  background-color: white;
}
.fixed-buttons .contact-links:hover i:before {
  background-color: white;
}
.fixed-buttons .contact-links span {
  display: block;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  width: 50px;
  height: 50px;
}
.fixed-buttons .contact-links span:before {
  content: "";
  background: url("../img/icons/Portals.png") no-repeat;
  position: absolute;
  width: 18px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-buttons .contact-links span i {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fixed-buttons .contact-links span i:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #009B7A;
  transform: rotate(45deg);
  left: 50%;
  bottom: 8px;
  margin-left: -6px;
}
.fixed-buttons .contact-links span i:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #009B7A;
  left: 50%;
  bottom: 8px;
  transform: rotate(-45deg);
  margin-left: -1px;
}
.fixed-buttons .contact-links ul {
  display: none;
  right: 0;
  position: absolute;
  left: auto;
}
.fixed-buttons .contact-links ul li {
  margin: 10px 0;
  text-align: left;
  position: relative;
}
.fixed-buttons .contact-links ul li a {
  color: #009B7A;
  padding: 15px 44px 15px 20px;
  background: white;
  border-radius: 25px;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2.4px;
  font-weight: 600;
}
.fixed-buttons .contact-links ul li a.enquire:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  right: 15px;
  background: url("../img/icons/enquire.png");
}
.fixed-buttons .contact-links ul li a.visit:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 22px;
  right: 15px;
  background: url("../img/icons/visit.png");
}
.fixed-buttons .contact-links ul li a.apply:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  right: 15px;
  background: url("../img/icons/apply.png");
}
.scroll-down {
  position: fixed;
  background: transparent linear-gradient(135deg, #009B7A, #1b1b1b) 0 0 no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  bottom: 30px;
  cursor: pointer;
  left: 40px;
}
@media all and (min-width: 992px) {
  .scroll-down {
    right: 40px;
    left: auto;
  }
}
.scroll-down:hover {
  background: #009B7A;
}
.scroll-down:after {
  content: "";
  position: absolute;
  background: url('../img/icons/scroll.png');
  top: 50%;
  width: 18px;
  left: 50%;
  height: 18px;
  transform: translate(-50%, -50%);
}
#pin {
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 40px;
  height: 150px;
}
#pin span {
  display: block;
  width: 100%;
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  background: -webkit-linear-gradient(#009B7A, #1b1b1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 992px) {
  #pin span {
    font-size: 50px;
  }
}
#pin span.line1 {
  padding-left: 40px;
  transition: all 0.4s linear;
}
#pin span.line2 {
  padding-left: 40px;
  transition: all 0.4s linear;
}
#pin span.line3 {
  padding-left: 140px;
  transition: all 0.4s linear;
}
.welcome-holder {
  height: 100%;
  background: url("../img/welcome-left.png"), url("../img/welcome-right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -30% 0%, 150% 100%;
  position: relative;
}
.welcome-holder .img-holder {
  display: block;
  position: relative;
  width: 260px;
  margin: 0 auto;
}
@media all and (min-width: 992px) {
  .welcome-holder .img-holder {
    transform: translateY(-50%);
    width: 400px;
    top: 50%;
    float: left;
    left: 100px;
  }
}
.welcome-holder .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcome-holder .txt-holder {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 260px;
  margin: 0 auto;
}
@media all and (min-width: 992px) {
  .welcome-holder .txt-holder {
    display: block;
    top: 50%;
    position: absolute;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.4px;
    left: 40%;
    width: 36%;
    z-index: 2;
  }
}
.welcome-holder .txt-holder p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 24px;
  text-align: center;
}
@media all and (min-width: 992px) {
  .welcome-holder .txt-holder p {
    font-size: 18px;
    text-align: left ;
  }
}
.welcome-holder .txt-holder p a {
  color: #009B7A;
}
.welcome-holder .txt-holder p .read-more {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #009B7A;
  border-radius: 50%;
  margin-left: 5px;
}
.welcome-holder .txt-holder p .read-more:before {
  content: "";
  width: 8px;
  height: 1px;
  background: #1b1b1b;
  position: absolute;
  top: 50%;
  left: 5px;
}
.welcome-holder .txt-holder p .read-more:after {
  content: "";
  width: 8px;
  height: 1px;
  background: #1b1b1b;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: rotate(90deg);
}
.welcome-holder .txt-holder h4 {
  text-transform: uppercase;
  order: -1;
  text-align: center;
}
@media all and (min-width: 992px) {
  .welcome-holder .txt-holder h4 {
    margin-top: 20px;
    order: 1;
    text-align: left;
  }
}
.welcome-holder .discover-more {
  display: none;
}
@media all and (min-width: 992px) {
  .welcome-holder .discover-more {
    display: block;
    position: absolute;
    text-transform: uppercase;
    color: black;
    bottom: 50px;
    right: 130px;
    font-size: 20px;
    line-height: 18px;
  }
}
.stories-holder {
  overflow: hidden;
  position: relative;
  background: white;
}
.stories-holder .header {
  display: block;
  position: absolute;
  padding-left: 35px;
}
.stories-holder .header h2 {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  background: -webkit-linear-gradient(#009B7A, #1b1b1b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 45px;
}
@media all and (min-width: 992px) {
  .stories-holder .header h2 {
    font-size: 80px;
  }
}
.stories-holder .main-carousel {
  padding: 50px 0 0 35px;
  overflow: hidden;
}
.stories-holder .main-carousel .flickity-prev-next-button.next {
  background: transparent linear-gradient(135deg, #009B7A, #1b1b1b) 0 0 no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
}
.stories-holder .main-carousel .flickity-prev-next-button.next:hover {
  background: #009B7A;
}
.stories-holder .main-carousel .flickity-prev-next-button.next:after {
  content: "";
  position: absolute;
  background: url('../img/icons/to-right.png');
  top: 50%;
  width: 18px;
  left: 50%;
  height: 18px;
  transform: translate(-50%, -50%);
}
.stories-holder .main-carousel .flickity-prev-next-button.previous {
  background: transparent linear-gradient(135deg, #009B7A, #1b1b1b) 0 0 no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
}
.stories-holder .main-carousel .flickity-prev-next-button.previous:hover {
  background: #009B7A;
}
.stories-holder .main-carousel .flickity-prev-next-button.previous:after {
  content: "";
  position: absolute;
  background: url('../img/icons/to-left.png');
  top: 50%;
  width: 18px;
  left: 50%;
  height: 18px;
  transform: translate(-50%, -50%);
}
.stories-holder .main-carousel .flickity-button-icon {
  display: none;
}
.stories-holder .main-carousel .flickity-viewport {
  cursor: auto;
}
.stories-holder .stories-slider {
  display: block;
  position: relative;
}
.stories-holder .stories-slider .story-item {
  width: 296px;
  margin: 80px 30px 0;
}
.stories-holder .stories-slider .story-item .img-holder {
  width: 296px;
  height: 219px;
}
.stories-holder .stories-slider .story-item .img-holder:before {
  content: "";
  background: url("../img/icons/Twitter.png");
  width: 22px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 5;
}
.stories-holder .stories-slider .story-item .img-holder:after {
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 4;
  background: #1AB7EA;
  border-radius: 10px 0;
}
.stories-holder .stories-slider .story-item .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  border-radius: 20px;
}
.stories-holder .stories-slider .story-item .txt-holder p {
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0;
}
.stories-holder .stories-slider .story-item .txt-holder p a {
  color: #009B7A;
  font-weight: 600;
}
.stories-holder .stories-slider .story-item .date {
  margin-top: 10px;
  color: grey;
}
.stories-holder .stories-slider .story-item .whole-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -9999px;
  z-index: 1;
}
.stories-holder .text-intro {
  padding-left: 35px;
}
.stories-holder .text-intro p {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.stories-holder .text-intro p a {
  color: #009B7A;
}
.enrich-holder {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.enrich-holder .enrich-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1000px;
  margin: 0 auto;
}
.enrich-holder .enrich-wrapper .section-header {
  position: absolute;
  font-size: 90px;
  width: fit-content;
  top: 50%;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(#009B7A, #1b1b1b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.enrich-holder .enrich-wrapper .enrich-items {
  display: block;
  position: relative;
}
.enrich-holder .enrich-wrapper .enrich-items ul {
  position: relative;
}
.enrich-holder .enrich-wrapper .enrich-items ul li {
  position: absolute;
  cursor: pointer;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:first-child {
  left: 0px;
  top: -360px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2) {
  left: 270px;
  top: -190px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2):hover .hover {
  visibility: visible;
  transition: all 0.4s linear;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2):hover .tooltip:before {
  height: 170px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2):hover .tooltip span {
  visibility: visible;
  transition: all 0.4s linear 0.4s;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2) .tooltip {
  height: 170px;
  display: block;
  position: absolute;
  bottom: 100px;
  left: 20px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2) .tooltip:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 0;
  left: 0;
  bottom: 0;
  background: #009B7A;
  transition: all 0.4s linear;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2) .tooltip span {
  visibility: hidden;
  width: 200px;
  position: relative;
  white-space: nowrap;
  letter-spacing: 1px;
  padding-left: 20px;
  z-index: 1;
  font-size: 20px;
  font-weight: 600;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(2) .hover {
  position: absolute;
  visibility: hidden;
  left: -10px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(3) {
  left: 370px;
  top: -180px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(4) {
  left: 540px;
  top: -150px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(5) {
  left: 570px;
  top: -220px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(6) {
  left: 90px;
  top: -30px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(7) {
  left: 200px;
  top: -30px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(8) {
  left: 400px;
  top: 10px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(9) {
  left: 480px;
  top: 10px;
}
.enrich-holder .enrich-wrapper .enrich-items ul li:nth-child(10) {
  left: 590px;
  top: -10px;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup {
  display: none;
  background: white;
  position: absolute;
  width: 740px;
  height: 370px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  margin: auto;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup.active {
  display: block;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item {
  position: relative;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item {
  display: flex;
  flex-wrap: nowrap;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .img-holder:before {
  content: "";
  background: url("../img/icons/Twitter.png");
  width: 22px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 5;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .img-holder:after {
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 4;
  background: #1AB7EA;
  border-radius: 10px 0;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .text-holder {
  padding: 40px 40px 0;
  position: relative;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .text-holder h2 {
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #009B7A;
  text-transform: uppercase;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .text-holder h4 {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .text-holder p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .twitter-item .story-item .text-holder span {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1px;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .close-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  background: #009B7A;
  border-radius: 50%;
  cursor: pointer;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .close-btn:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  margin-left: -10px;
}
.enrich-holder .enrich-wrapper .enrich-items .twitter-popup .close-btn:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: rotate(135deg);
  margin-left: -10px;
}
.pupils-holder {
  height: 100%;
  position: relative;
  padding: 50px 0;
}
.pupils-holder .section-header {
  position: relative;
  padding: 0 100px;
}
.pupils-holder .section-header h2 {
  font-size: 90px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#009B7A, #1b1b1b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.pupils-holder .section-header p {
  font-size: 18px;
  font-weight: 600;
  color: #1b1b1b;
}
.pupils-holder .pupils-slider {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: baseline;
}
.pupils-holder .slider-pagination {
  margin: 50px 0;
  padding: 0 100px;
}
.pupils-holder .slider-pagination ul {
  display: flex;
  flex-wrap: nowrap;
}
.pupils-holder .slider-pagination ul li {
  width: 20%;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
}
.pupils-holder .slider-pagination ul li span {
  margin-top: 10px;
  padding-top: 10px;
  display: block;
  border-top: 2px solid grey;
}
.footer-holder {
  position: relative;
  padding-top: 80px;
}
.footer-holder .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media all and (min-width: 992px) {
  .footer-holder .footer-wrapper {
    margin: 0 160px;
    display: block;
    flex-wrap: nowrap;
  }
}
.footer-holder .footer-wrapper .section-header {
  display: none;
}
@media all and (min-width: 992px) {
  .footer-holder .footer-wrapper .section-header {
    display: block;
    float: left;
    margin-bottom: 60px;
  }
}
.footer-holder .footer-wrapper .section-header h3 {
  font-size: 50px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#009B7A, #1b1b1b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.footer-holder .footer-wrapper .quicklinks {
  position: relative;
  width: 500px;
  float: right;
}
.footer-holder .footer-wrapper .quicklinks ul {
  column-count: 2;
}
.footer-holder .footer-wrapper .quicklinks ul li {
  margin: 10px 0;
  position: relative;
  text-align: center;
}
.footer-holder .footer-wrapper .quicklinks ul li a {
  color: #009B7A;
  padding: 18px 5px;
  background: white;
  border-radius: 25px;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.4px;
  border: 2px solid #009B7A;
  font-weight: 600;
}
.footer-holder .footer-wrapper .quicklinks ul li a:hover {
  background: #009B7A;
  background-size: cover;
  color: white;
  transition: all 0.4s linear;
}
.footer-holder .footer-wrapper .quicklinks ul li a.main-link {
  color: white;
  background: -webkit-linear-gradient(#009B7A, #1b1b1b);
  border: none;
  padding: 20px 5px;
}
.footer-holder .footer-wrapper .quicklinks ul li a.main-link:hover {
  background: #009B7A;
  transition: all 0.4s linear;
}
.footer-holder .footer-wrapper .quicklinks ul li:first-child {
  margin-top: 0;
}
.footer-holder .footer-wrapper .quicklinks ul li:nth-child(3) {
  margin-bottom: 100px;
}
.footer-holder .footer-wrapper .concact-info {
  order: -1;
  display: flex;
  float: left;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media all and (min-width: 992px) {
  .footer-holder .footer-wrapper .concact-info {
    margin-bottom: 20px;
    flex-wrap: nowrap;
    justify-content: normal;
    text-align: left;
  }
}
.footer-holder .footer-wrapper .concact-info .info-section {
  margin-right: 20px;
}
.footer-holder .footer-wrapper .concact-info .info-section h4 {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.footer-holder .footer-wrapper .concact-info .info-section p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}
.footer-holder .footer-wrapper .concact-info .info-section p a {
  color: #009B7A;
  font-weight: 600;
}
.footer-holder .footer-wrapper .socials {
  clear: left;
  width: 500px;
}
.footer-holder .footer-wrapper .socials ul li {
  display: inline-block;
  margin-bottom: 10px;
}
.footer-holder .footer-wrapper .socials ul li:first-child {
  display: block;
}
.footer-holder .footer-wrapper .socials ul li .socials-tw {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #1DA1F2;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.footer-holder .footer-wrapper .socials ul li .socials-tw:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-twitter.png") no-repeat;
  position: absolute;
  width: 20px;
  height: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-holder .footer-wrapper .socials ul li .socials-yt {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #FF0000;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.footer-holder .footer-wrapper .socials ul li .socials-yt:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-youtube.png") no-repeat;
  position: absolute;
  width: 20px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-holder .footer-wrapper .socials ul li .socials-fk {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #FF0084;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.footer-holder .footer-wrapper .socials ul li .socials-fk:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-flickr.png") no-repeat;
  position: absolute;
  width: 20px;
  height: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-holder .footer-wrapper .socials ul li .socials-sd {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #FF8800;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.footer-holder .footer-wrapper .socials ul li .socials-sd:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-soundcloud.png") no-repeat;
  position: absolute;
  width: 23px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-holder .footer-wrapper .socials ul li .socials-insta {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #833AB4;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.footer-holder .footer-wrapper .socials ul li .socials-insta:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-insta.png") no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-holder .footer-wrapper .socials ul li .socials-fb {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #3B5998;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.footer-holder .footer-wrapper .socials ul li .socials-fb:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-facebook.png") no-repeat;
  position: absolute;
  width: 9px;
  height: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-holder .footer-wrapper .socials ul li .socials-fb:hover {
  background: #3B5998;
}
.footer-holder .footer-wrapper .socials ul li .socials-fb:hover:before {
  content: "";
  background: url("../img/icons/footer-icons/ft-facebook-hover.png");
  transition: all 0.2s linear;
}
.footer-holder .footer-tos {
  padding: 100px 0 30px;
}
.footer-holder .footer-tos .footer-tos-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
}
.footer-holder .footer-tos .footer-tos-wrapper .tos li {
  display: inline-block;
}
.footer-holder .footer-tos .footer-tos-wrapper .tos li a {
  color: #1b1b1b;
  font-size: 15px;
}
.footer-holder .footer-tos .footer-tos-wrapper .tos li:before {
  content: "|";
  margin: 0 10px;
}
.footer-holder .footer-tos .footer-tos-wrapper .tos li:first-child:before {
  display: none;
}
.footer-holder .footer-tos .footer-tos-wrapper .credits {
  font-size: 15px;
}
.footer-holder .scroll-top {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent linear-gradient(135deg, #009B7A, #1b1b1b) 0 0 no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
}
.footer-holder .scroll-top:hover {
  background: #009B7A;
}
.footer-holder .scroll-top:after {
  content: "";
  position: absolute;
  background: url('../img/icons/scroll-top.png');
  top: 50%;
  width: 18px;
  left: 50%;
  height: 18px;
  transform: translate(-50%, -50%);
}
.menu-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
}
.menu-overlay .overflow {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
}
.menu-overlay.menu-open {
  display: block;
}
.menu-overlay .navigation-holder {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.menu-overlay .navigation-holder .second-level-menu.menu-addons-holder {
  display: none;
}
.menu-overlay .navigation-holder .second-level-menu li a {
  text-transform: none;
  position: relative;
  display: block;
  z-index: 1;
  line-height: 18px;
  color: #505f67;
}
.menu-overlay .navigation-holder.lvl-2-active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  left: 0;
  z-index: 3;
}
.menu-overlay .navigation-holder.lvl-2-active + .menu-addons-holder {
  opacity: 0;
  visibility: hidden;
}
.menu-overlay .navigation-holder .vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li {
  padding: 15px 0;
  cursor: pointer;
  position: relative;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li span {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 2;
  margin-top: -20px;
  top: 50%;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 4px;
  margin: -2px 0 0 -8px;
  background: #1b1b1b;
  transform: rotate(45deg);
  margin-top: -7px;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 4px;
  margin: -2px 0 0 -8px;
  background: #1b1b1b;
  transform: rotate(-45deg);
  margin-top: 1px;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li a {
  text-transform: uppercase;
  position: relative;
  color: #1b1b1b;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li a:hover {
  color: #009B7A;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav li a.home {
  color: #808285;
}
.menu-overlay .navigation-holder .vertical-align .main-menu .main-nav ul {
  display: none;
}
.menu-overlay .navigation-holder .layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.4s ease-out;
}
.menu-overlay .navigation-holder .layer.layer1 {
  width: 50%;
  height: 100%;
  padding: 0 100px;
  background: white;
}
.menu-overlay .navigation-holder .layer.layer2 {
  z-index: 2;
  width: 50%;
  left: 50%;
  visibility: visible;
  opacity: 1;
  bottom: 80px;
  overflow: auto;
}
.menu-overlay .navigation-holder .layer.layer2 .vertical-align {
  padding: 0 80px;
  font-weight: 600;
}
.menu-overlay .navigation-holder .layer.layer2 .vertical-align h3 {
  font-weight: 300;
  color: white;
  padding: 5px 0;
  text-transform: uppercase;
}
.menu-overlay .navigation-holder .layer.layer2 .vertical-align a {
  padding: 5px 0;
  font-size: 18px;
  line-height: 36px;
  cursor: pointer;
  position: relative;
  color: white;
}
.menu-overlay .navigation-holder .layer.layer2 .vertical-align .back-btn {
  padding: 5px 0;
  font-size: 22px;
  line-height: 36px;
  color: grey;
  margin-left: 10px;
  cursor: pointer;
}
.menu-overlay .menu-addons-holder {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  margin: auto;
  opacity: 0.8;
  z-index: 2;
}
.menu-overlay .menu-addons-holder.remove {
  display: none;
}
.menu-overlay .menu-addons-holder .stories-menu {
  top: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 170px;
  padding-right: 100px;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-prev-next-button.next {
  background: transparent linear-gradient(135deg, #009B7A, #1b1b1b) 0 0 no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-prev-next-button.next:hover {
  background: #009B7A;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-prev-next-button.next:after {
  content: "";
  position: absolute;
  background: url('../img/icons/to-right.png');
  top: 50%;
  width: 18px;
  left: 50%;
  height: 18px;
  transform: translate(-50%, -50%);
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-prev-next-button.previous {
  background: transparent linear-gradient(135deg, #009B7A, #1b1b1b) 0 0 no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  margin-left: -80px;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-prev-next-button.previous:hover {
  background: #009B7A;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-prev-next-button.previous:after {
  content: "";
  position: absolute;
  background: url('../img/icons/to-left.png');
  top: 50%;
  width: 18px;
  left: 50%;
  height: 18px;
  transform: translate(-50%, -50%);
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-button-icon {
  display: none;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-viewport {
  cursor: auto;
  overflow: visible;
}
.menu-overlay .menu-addons-holder .stories-menu .main-carousel .flickity-page-dots {
  display: none;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item {
  width: 296px;
  margin-top: -100px;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item .img-holder {
  width: 296px;
  height: 220px;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px ;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item .text-holder {
  text-align: center;
  color: white;
  margin-top: 10px;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item .text-holder h4 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item .text-holder span {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-weight: 600;
}
.menu-overlay .menu-addons-holder .stories-menu .story-item .whole-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -9999px;
  z-index: 1;
}
.menu-overlay .menu-addons-holder .quicklinks {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 460px;
  transform: translateX(-50%);
}
.menu-overlay .menu-addons-holder .quicklinks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-overlay .menu-addons-holder .quicklinks ul li {
  width: 220px;
  margin-bottom: 20px;
}
.menu-overlay .menu-addons-holder .quicklinks ul li a {
  display: block;
  position: relative;
  border: 2px solid #009B7A;
  border-radius: 25px;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 20px;
  padding: 13px 20px;
  text-align: center;
  font-weight: 600;
}
.menu-overlay .menu-addons-holder .quicklinks ul li a:hover {
  background: #009B7A;
  background-size: cover;
  color: white;
  transition: all 0.4s linear;
}
/*# sourceMappingURL=main.css.map */